<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span (click)="irHome()">App Cibertec</span>
    &nbsp;&nbsp;
    <button mat-raised-button (click)="irCurso()" >Curso</button>
    &nbsp;&nbsp;
    <button mat-raised-button (click)="irEstado()">Estado</button>
    &nbsp;&nbsp;
    <button mat-raised-button (click)="irPost()">Post</button>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button (click)="salir()" class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  

<hr />
<router-outlet></router-outlet>
